#view
/views/back/*
!/views/back/build/
!/views/back/css/
!/views/back/images/
!/views/back/js/
!/views/back/vendors/
!/views/back/home.html
!/views/back/header.html
!/views/back/footer.html

#controller
/application/controllers/*
!/application/controllers/Index.php

#model
/application/models/*
!/application/models/Index_Model.php

#mvc_generation
/mvc_generation/config.json
/mvc_generation/config_back.json

#uploads
/uploads

#other
.DS_Store


